#combate-logo {
  float: left; }

#noticias {
  color: #c00f06; }

#esportes {
  color: green; }

#entretenimento {
  color: orange; }

#videos {
  color: blue; }

#menu-bar {
  padding-left: 10%;
  padding-right: 10%; }

#menu-right-side {
  color: #6e6e65;
  padding-left: 70%;
  font-weight: normal; }

.menu-font {
  font-size: 12px; }

#call-text, #events {
  text-align: center; }

#menu-icon {
  float: left;
  padding-right: 1%; }

#menu-word {
  float: left; }

#red-bar {
  background-color: #c00f06;
  padding: 1%;
  padding-left: 10%;
  color: white; }

#search {
  background: #900b04;
  border: none;
  background-image: url(images/search-icon.png);
  background-position: 1px 1px;
  background-repeat: no-repeat;
  text-align: center;
  color: white; }

.mobile-box {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
  padding-top: 5%; }

#mobile-text {
  text-align: justified; }

#img-mobile {
  height: 200px;
  width: 240px; }

#darker-footer-menu {
  border-bottom: 1px solid #525252; }

#assine {
  text-align: center; }

#pre-footer {
  background-color: #e0e0e0;
  text-align: center;
  font-weight: bold; }

#lighter-footer {
  background-color: #494949;
  color: white; }

#darker-footer {
  background-color: #404040;
  color: white;
  padding-bottom: 4%; }

#footer-menu-right {
  float: right; }

#footer-menu-img {
  border-right: 1px solid #525252; }

.footer-menu {
  float: left;
  padding-right: 1%;
  font-weight: normal; }

.box {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
  padding-top: 2%; }

.menu {
  padding-left: 10%;
  padding-right: 10%;
  display: inline;
  color: gray; }

.menu-left-side {
  font-weight: bold; }

.red-text {
  color: #c00f06;
  display: inline; }

.black-text {
  color: black;
  display: inline; }

.banner-call {
  display: inline;
  font-size: 12px; }

body {
  font: 100% Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  color: #3c3c3b;
  padding: 0;
  margin: 0;
  line-height: normal; }

nav {
  background-color: #e0e0e0;
  display: inline; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
  nav li {
    display: inline-block;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 14px;
    float: left; }

#copyright {
  float: left;
  margin-top: 1%; }

#right-copyright {
  margin-top: 1%;
  float: right; }

footer {
  font-size: 12px;
  font-weight: normal; }

.menu-margin {
  border-right: 1px solid white; }

.margin-copyright {
  border-right: 1px solid white;
  border-left: 1px solid white;
  margin: 3px; }

/*# sourceMappingURL=main.css.map */
